<header class="header  header--main" id="top">

	<div class="container">

		<div class="row">

			<div class="span-4  span--quarter">

				<a class="logo" href="/">

					<svg class="icon  icon--logo">
						<switch>
							<use xlink:href="#logo"></use>
							<foreignObject width="20" height="20">
								<img src="/assets/icons/logo.png" alt="BaseKit">
							</foreignObject>
						</switch>
					</svg>

				</a>

			</div>

			<div class="span-8  span--three-quarters">

				{% include navmain.html %}

			</div>


		</div>

	</div>

</header>
