---
layout: default
---

<div class="span-3">

	<aside class="aside  aside--search">

		{% include search.html %}

		{% include navtoggle.html %}

	</aside>

	<aside class="aside  aside--docs">

		{% include navdocs.html %}

	</aside>

</div>

<div class="span-7">

	<article class="article  article--content">

		{% include breadcrumb.html %}

		{{ content }}

		<time class="time" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%A, %d %B %Y" }}</time>

	</article>

</div>

<div class="span-2">

	<aside id="sticky" class="aside  aside--contents">

		{% include navcategories.html %}

	</aside>

</div>
